/*----------------------- БЛОК НАВИГАЦИОННОЙ ПАНЕЛИ ------------------------------ */
.header-home-page {
    background-image: url(../img/asteriaspage/header.svg);
    background-size: cover;
}

.start-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.start-info-text {
    margin-bottom: 6px;
}

.start-info-text-subtitle {
    color: #FFFFFF;
}

/*----------------------- БЛОК ОБ ОБИТАТЕЛЕ ------------------------------ */
.content-about-block {
    margin-top: 87px;
}

.about-block-description {
    width: 1036px;
}

.about-block-characteristics-list {
    margin-top: 38px;
    display: flex;
}

.about-block-characteristics-card {
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    width: 319px;
    padding: 31px;
    margin-right: 30px;
}

.about-block-characteristics-card:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
    cursor: pointer;
}

.about-block-characteristics-card-text {
    margin-top: 32px;
}