/*----------------------- БЛОК НАВИГАЦИОННОЙ ПАНЕЛИ ------------------------------ */
.header-home-page {
    background-image: url(../img/asteriaspage/header.svg);
    background-size: cover;
}

.start-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.start-info-text {
    margin-bottom: 6px;
}

.start-info-text-subtitle {
    color: #FFFFFF;
}

/*----------------------- БЛОК ОБ ОБИТАТЕЛЕ ------------------------------ */
.content-about {
    margin-top: 87px;
}

.about-block-description {
    width: 1036px;
}

.about-block-characteristics-list {
    margin-top: 38px;
    display: flex;
}

.about-block-characteristics-card {
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    width: 319px;
    padding: 31px;
    margin-right: 30px;
}

.about-block-characteristics-card:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
    cursor: pointer;
}

.about-block-characteristics-card-text {
    margin-top: 32px;
}

/*----------------------- БЛОК О МЕСТОЖИТЕЛЬСТВЕ ОБИТАТЕЛЯ ------------------------------ */
.content-about-live {
    margin: 109px 0 104px 351px;
    display: flex;
}

.about-live-text-block {
    margin-left: 85px;
    width: 100%;
}

.about-live-text-description {
    width: 444px;
}

.about-live-text-special {
    display: flex;
}

.about-live-text-special-textblock {
    margin-left: 11px;
    flex-grow: 1;
}

.about-live-text-special-description {
    color: #1A2AB2;
}

.about-live-text-special-hr {
    border: none;
    background-color: #1A2AB2;
    color: #1A2AB2;
    height: 1px;
}

/*----------------------- БЛОК О ВНЕШНОСТИ ОБИТАТЕЛЯ ------------------------------ */
.content-about-appearance {
    margin: 0 326px 102px 0;
    display: flex;
}

.about-appearance-text-block {
    margin-left: 282px;
}

.about-appearance-text-description {
    width: 550px;
}

.about-appearance-text-special {
    margin-top: 49px;
    display: flex;
}

.about-appearance-text-special-description {
    margin-right: 12px;
    color: #1A2AB2;
}

.about-appearance-text-special-hr {
    margin-top: 24px;
    border: none;
    background-color: #1A2AB2;
    color: #1A2AB2;
    height: 1px;
    width: 788px;
    position: absolute;
}

.about-appearance-carousel {
    margin-left: 147px;
}

.about-appearance-carousel-img-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-appearance-carousel-img {
    margin: 0 26px;
}

.about-appearance-carousel-pages {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.about-appearance-carousel-pages-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 7px;
}

.about-appearance-carousel-pages-item-disable {
    background-color: #E3E3E3;
}

.about-appearance-carousel-pages-item-active {
    background-color: #1A2AB2;
}

/*----------------------- БЛОК О СОСЕДЯХ ------------------------------ */
.neighbors-block {
    background: #FAFAFA;
    border-radius: 30px;
}

.content-neighbors {
    padding: 66px 0;
}

.neighbors-header {
    margin-top: 0;
    margin-bottom: 50px;
}

.neighbors-cardlist {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 697.5px);
    grid-template-rows: repeat(1, 506px);
}

.neighbors-cardlist>* {
    margin-right: 31px;
}

.neighbors-card {
    position: relative;
}

.neighbors-card:hover {
    cursor: pointer;
}

.neighbors-card:hover .neighbors-card-button {
    background-color: rgba(26, 42, 178, 0.7);
}

.neighbors-card-img {
    position: absolute;
}

.neighbors-card-gradient {
    position: absolute;
    background: linear-gradient(180deg, rgba(23, 24, 31, 0) 31.6%, rgba(0, 0, 0, 0.468) 73.45%);
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.neighbors-card-textblock {
    position: absolute;
    margin-left: 31px;
    margin-top: 380px;
}

.neighbors-card-header {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.neighbors-card-button {
    background-color: rgba(32, 32, 32, 0.7);
    ;
    box-shadow: 0px 3.89312px 23.3587px rgba(32, 32, 32, 0.3);
    border-radius: 50px;
    border: transparent;
    color: #FFFFFF;
    padding: 3px 36px;
    width: max-content;
}

.neighbors-cardlist-column2 {
    display: grid;
    grid-template-columns: repeat(1, 666.5px);
    grid-template-rows: repeat(2, 268.71px);
}

.neighbors-cardlist-column2>* {
    margin-bottom: 29.42px;
}

.neighbors-cardlist-column2 :nth-child(3) {
    margin-top: 111.29px;
}

.neighbors-cardlist-column2-row {
    display: grid;
    grid-template-columns: repeat(2, 348.25px);
    grid-template-rows: repeat(1, 239.29px);
}

.neighbors-cardlist-column2-row>* {
    margin-right: 30.04px;
}

.neighbors-textblock {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.neighbors-textblock-button {
    margin-left: auto;
}

/*----------------------- БЛОК О ПИТАНИИ ------------------------------ */
.content-food {
    margin-top: 126px;
    margin-bottom: 140px;
}

.food-cardlist {
    margin-top: 43px;
    display: flex;
}

.food-card {
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    margin-right: 30px;
}

.food-card:hover{
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
    cursor: pointer;
}

.food-card-text{
    margin: 20px 0 30px 30px;
}