body,
footer {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    margin: 0;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.content {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------- СТИЛИ ТЕКСТА ------------------------------ */
h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.text-body18 {
    font-size: 18px;
    line-height: 24px;
}

.text-body16 {
    font-size: 16px;
    line-height: 22px;
}

.text-body14 {
    font-size: 14px;
    line-height: 20px;
}

.text-body12 {
    font-size: 12px;
    line-height: 18px;
}

.text-body10 {
    font-size: 10px;
    line-height: 12px;
}

.semibold-text {
    font-weight: 600;
}

.medium-text {
    font-weight: 500;
}

.regular-text {
    font-weight: 400;
}

.main-text {
    color: #333333;
}

.secondary-text {
    color: #6C6B6B
}

/*----------------------- СТИЛИ КНОПОК ------------------------------ */
.button-fullfill {
    background: #1A2AB2;
    box-shadow: 0px 16px 28px rgba(23, 20, 160, 0.18), 0px 10px 16px rgba(23, 20, 160, 0.06);
    border-radius: 50px;
    border-style: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-fullfill:hover {
    background: #384CF6;
    box-shadow: 0px 16px 28px rgba(23, 20, 160, 0.18), 0px 10px 16px rgba(23, 20, 160, 0.06);
    border-radius: 50px;
}

.button-only-border {
    background-color: #FFFFFF;
    border-radius: 50px;
    border-style: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-only-border-active{
    border: 1px solid #1A2AB2;
    color: #1A2AB2;
}

.button-only-border-disabled{
    border: 1px solid #C4C4C4;
    color: #6C6B6B;
}

.button-only-border:hover {
    border: 1px solid #384CF6;
    color: #384CF6;
}

.button-arrow {
    border-radius: 43px;

    width: 43px;
    height: 43px;
}

.button-arrow-active {
    background: #FFFFFF;
    border: 1px solid #FAFAFA;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
}

.button-arrow-active:hover {
    background: #7EC1FF;
}

.button-arrow-default {
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
}

.button-arrow-left {
    background-image: url(../img/leftArrowIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-arrow-left:hover {
    background-image: url(../img/leftArrowIconHOVER.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-arrow-left-default {
    background-image: url(../img/leftArrowIconDefault.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-arrow-right {
    background-image: url(../img/rightArrowIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-arrow-right:hover {
    background-image: url(../img/rightArrowIconHOVER.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-arrow-right-default {
    background-image: url(../img/rightArrowIconDefault.svg);
    background-repeat: no-repeat;
    background-position: center;
}