/*----------------------- БЛОК НАВИГАЦИОННОЙ ПАНЕЛИ ------------------------------ */
.header-home-page {
    background-image: url(../img/homepage/bg.jpg);
    background-size: cover;
}

/*----------------------- БЛОК ПОПУЛЯРНОЕ СЕГОДНЯ ------------------------------ */
.content-popular-today {
    padding: 126px 0;
}

.popular-today-schedule {
    display: flex;
}

.popular-today-cardlist {
    width: 100%;
    margin-right: 60px;
}

.popular-today-card {
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    display: flex;
    padding: 22px 33px 23px;
    margin-bottom: 24px;
}

.popular-today-card:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
    cursor: pointer;
}

.popular-today-time {
    color: #1A2AB2;
    margin-right: 20px;
}

.popular-today-description-header {
    margin-bottom: 2px;
}

.popular-today-infolist {
    margin-left: auto;
    background: #FAFAFA;
    border-radius: 15px;
}

.popular-today-informaton {
    margin-left: auto;
    margin-top: auto;
}

.container-popular-today-infolist {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.popular-today-infolist-block {
    margin: 44px auto 48px auto;
    display: block;
}

.popular-today-infolist-item {
    display: flex;
    margin-bottom: 22px;
}

.popular-today-infolist-item-title {
    margin-left: 6px;
}

.popular-today-infolist-item-information {
    margin-left: 9px;
}

/*---------------------— БЛОК НОВОСТНОЙ ЛЕНТЫ —--------------------------— */
.news-block {
    margin-bottom: 129px;
}

.news-start-block {
    display: flex;
    align-items: center;
}

.news-start-button-block {
    margin-left: auto;
}

.news-cardlist {
    display: flex;
}

.news-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    width: max-content;
    margin-right: 30px;
}

.news-card:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
    cursor: pointer;
}

.news-card-img-block {
    position: relative;
}

.news-card-img-data {
    background: #FFFFFF;
    box-shadow: 0px 20px 13px rgba(17, 15, 15, 0.05), 0px 8.14815px 6.51852px rgba(17, 15, 15, 0.0392593);
    border-radius: 50px;
    padding: 3px 23px;
    width: max-content;
    position: absolute;
    margin: 24px;
}

.news-card-img {
    z-index: -1;
}

.news-card-text-block {
    margin-top: 19px;
    margin-left: 25px;
}

.news-card-text-header {
    width: 360px;
}

.news-card-description {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.news-card-description-text {
    margin-left: 8px;
}

/*---------------------— БЛОК РЕЗУЛЬТАТОВ ГОЛОСОВАНИЯ —--------------------------— */
.contest-block {
    margin-bottom: 140px;
}

.contest-start-block {
    display: flex;
    align-items: center;
}

.contest-watch-more {
    margin-left: auto;
    text-decoration: none;
    color: #1A2AB2;
}

.contest-watch-more:hover {
    color: #384CF6;
    cursor: pointer;
}

.contest-line-block {
    display: flex;
}

.card-contest-competitor {
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    width: max-content;
    margin-right: 30px;
}

.card-contest-competitor:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
    cursor: pointer;
}

.card-contest-competitor-text {
    padding: 22px;
    width: 170px;
}

/*---------------------— БЛОК ИНФОРМАЦИИ О МИРЕ —--------------------------— */
.about-block {
    padding-top: 74px;
    padding-bottom: 80px;
    margin-bottom: 140px;
    margin-top: 12px;
    background: #FAFAFA;
}

.content-about {
    display: flex;
}

.about-description {
    width: 550px;
    margin-right: 174px;
}

.about-description-heading {
    margin-bottom: 30px;
}

.about-description-secondary-text {
    margin: 15px 0 67px 0;
}

.about-description-button {
    padding: 15.5px 54px;
}

.about-cardlist {
    display: flex;
}

.about-card {
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    margin-right: 30px;
    height: 286px;
}

.about-card:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
    cursor: pointer;
}

.about-card-content {
    position: relative;
}

.about-card-description {
    color: #FFFFFF;
    position: absolute;
    top: 190.5px;
    width: 260px;
    margin-left: 24px
}