body {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    margin: 0;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/*----------------------- СТИЛИ ТЕКСТА ------------------------------ */
h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.text-body18 {
    font-size: 18px;
    line-height: 24px;
}

.text-body16 {
    font-size: 16px;
    line-height: 22px;
}

.text-body14 {
    font-size: 14px;
    line-height: 20px;
}

.text-body12 {
    font-size: 12px;
    line-height: 18px;
}

.text-body12 {
    font-size: 10px;
    line-height: 12px;
}

.semibold-text {
    font-weight: 600;
}

.medium-text {
    font-weight: 500;
}

.regular-text {
    font-weight: 400;
}

.main-text {
    color: #333333;
}

.secondary-text {
    color: #6C6B6B
}

/*----------------------- СТИЛИ КНОПОК ------------------------------ */
.button-fullfill {
    background: #1A2AB2;
    box-shadow: 0px 16px 28px rgba(23, 20, 160, 0.18), 0px 10px 16px rgba(23, 20, 160, 0.06);
    border-radius: 50px;
    border-style: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-fullfill:hover {
    background: #384CF6;
    box-shadow: 0px 16px 28px rgba(23, 20, 160, 0.18), 0px 10px 16px rgba(23, 20, 160, 0.06);
    border-radius: 50px;
}

.content {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

/*----------------------- БЛОК НАВИГАЦИОННОЙ ПАНЕЛИ ------------------------------ */
.content-header {
    padding: 40px 0;
}

.header-home-page-gradient {
    background: linear-gradient(0deg, rgba(0, 8, 75, 0.8) 0%, rgba(0, 8, 75, 0.08) 52.4%, rgba(0, 8, 75, 0.4) 100%);
    opacity: 0.9;
}

.header-home-page {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

.navbar-nav {
    list-style-type: none;
    float: right;
}

.nav-logo {
    cursor: default
}

.nav-link {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    padding-left: 50px;
    text-decoration: none;
}

.nav-link:hover {
    color: #D9EDFF;
    text-decoration-line: underline
}

.nav-item {
    display: inline;
}

.start-info {
    width: 967px;
    padding: 98px 0;
}

.start-info-text {
    color: #fff;
}

.start-info-button {
    padding: 15.5px 61px;
}

/*----------------------- БЛОК ПОПУЛЯРНОЕ СЕГОДНЯ ------------------------------ */
.content-popular-today {
    padding: 126px 0;
}

.popular-today-schedule {
    display: flex;
}

.popular-today-cardlist {
    width: 100%;
    margin-right: 60px;
}

.popular-today-card {
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    display: flex;
    padding: 22px 33px 23px;
    margin-bottom: 24px;
}

.popular-today-card:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
}

.popular-today-time {
    color: #1A2AB2;
    margin-right: 20px;
}

.popular-today-description-header {
    margin-bottom: 2px;
}

.popular-today-infolist {
    margin-left: auto;
}

.popular-today-informaton {
    margin-left: auto;
    margin-top: auto;
}

.container-popular-today-infolist {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.popular-today-infolist-block {
    margin: 44px auto 48px auto;
    display: block;
}

.popular-today-infolist-item {
    display: flex;
    margin-bottom: 22px;
}

.popular-today-infolist-item-title {
    margin-left: 6px;
}

.popular-today-infolist-item-information {
    margin-left: 9px;
}

/*---------------------— БЛОК НОВОСТНОЙ ЛЕНТЫ —--------------------------— */
.news-block {
    margin-bottom: 129px;
}

.news-start-block {
    display: flex;
    align-items: center;
}

.news-start-button-block{
    margin-left: auto;
}

.news-start-button {
    border-radius: 43px;

    width: 43px;
    height: 43px;
}

.news-start-button-active {
    background: #FFFFFF;
    border: 1px solid #FAFAFA;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
}

.news-start-button-active:hover {
    background: #7EC1FF;
}

.news-start-button-default {
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
}

.news-start-arrow-left {
    background-image: url(../img/leftArrowIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.news-start-arrow-left:hover {
    background-image: url(../img/leftArrowIconHOVER.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.news-start-arrow-left-default{
    background-image: url(../img/leftArrowIconDefault.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.news-start-arrow-right {
    background-image: url(../img/rightArrowIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.news-start-arrow-right:hover {
    background-image: url(../img/rightArrowIconHOVER.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.news-start-arrow-right-default{
    background-image: url(../img/rightArrowIconDefault.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.news-cardlist {
    display: flex;
}

.news-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
    width: max-content;
    margin-right: 30px;
}

.news-card:hover {
    box-shadow: 0px 10.89px 46px rgba(56, 76, 246, 0.18);
}

.news-card-img-block {
    position: relative;
}

.news-card-img-data {
    background: #FFFFFF;
    box-shadow: 0px 20px 13px rgba(17, 15, 15, 0.05), 0px 8.14815px 6.51852px rgba(17, 15, 15, 0.0392593);
    border-radius: 50px;
    padding: 3px 23px;
    width: max-content;
    position: absolute;
    margin: 24px;
}

.news-card-img {
    z-index: -1;
}

.news-card-text-block {
    margin-top: 19px;
    margin-left: 25px;
}

.news-card-description {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.news-card-description-text {
    margin-left: 8px;
}