/*----------------------- БЛОК НАВИГАЦИОННОЙ ПАНЕЛИ ------------------------------ */
.content-header {
    padding: 40px 0;
}

.header-home-page-gradient {
    background: linear-gradient(0deg, rgba(0, 8, 75, 0.8) 0%, rgba(0, 8, 75, 0.08) 52.4%, rgba(0, 8, 75, 0.4) 100%);
    opacity: 0.9;
}

.header-home-page {
    background-image: url(../img/inhabitantspage/header.svg);
    background-size: cover;
}

.navbar-nav {
    list-style-type: none;
    float: right;
}

.nav-logo {
    cursor: default
}

.nav-link {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    padding-left: 50px;
    text-decoration: none;
}

.nav-link:hover {
    color: #D9EDFF;
    text-decoration-line: underline
}

.nav-item {
    display: inline;
}

.start-info {
    width: 967px;
    padding: 98px 0;
}

.start-info-text {
    color: #fff;
}

.start-info-description {
    color: #FFFFFF;
    width: 866px;
}

/*----------------------- БЛОК ФИЛЬТРОВ ------------------------------ */
.content-filter {
    display: flex;
    align-items: center;
}

.filter-block {
    margin-top: 80px;
}

.filters-group {
    margin-left: 40px;
}

.filter-button {
    padding: 4px 18px;
    margin-right: 20px;
}

/*----------------------- БЛОК КАРТОЧЕК С ОБИТАТЕЛЯМИ ------------------------------ */
.inhabitants-list {
    margin-top: 50px;
}

.content-inhabitants-list {
    margin-top: 50px;
}

.inhabitants-list-table-cards {
    display: grid;
    grid-template-columns: repeat(3, 464px);
    grid-template-rows: repeat(2, 423px);
}

.inhabitants-list-table-cards>* {
    margin: 0 30px 30px 0;
}

.inhabitants-list-card {
    position: relative;
}

.inhabitants-list-card:hover .inhabitants-list-card-gradient {
    opacity: 0;
}

.inhabitants-list-card:hover .inhabitants-list-card-text {
    opacity: 0;
}

.inhabitants-list-card-img {
    z-index: -1;
    position: absolute;
}

.inhabitants-list-card-img:hover {
    z-index: 10;
}

.inhabitants-list-card-gradient {
    background: linear-gradient(180deg, rgba(12, 11, 11, 0) 31.6%, rgba(0, 0, 0, 0.416) 73.45%);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.inhabitants-list-card-text {
    color: #FFFFFF;
    position: absolute;
    top: 285px;
    z-index: 100;
    margin-left: 30px;
}

.inhabitants-list-card-text-header {
    margin-bottom: 10px;
}

.inhabitants-list-button-block {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*----------------------- БЛОК ПРОГРАММ ПОМОЩИ ------------------------------ */

.content-help-inhabitants {
    margin-top: 100px;
    margin-bottom: 140px;
    background: #FFFFFF;
    box-shadow: 0px 3.89312px 23.3587px rgba(189, 189, 189, 0.23);
    border-radius: 15px;
}

.help-inhabitants-filling {
    padding: 43px 0 32px 76px;
}

.help-inhabitants-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.help-inhabitants-list-item-description {
    margin-left: 95px;
    margin-right: 26px;
}

.help-inhabitants-list-item-button {
    border: transparent;
    background-color: transparent;
}